<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Erreur {{ status_text }}</title>
    </head>
    <body>
        <h1>Erreur {{ status_code }} : {{ status_text }}</h1>
        <h2>Erreur logiciel.</h2>
		<div>Merci de prévenir l'administrateur du site pour obtenir des informations sur les causes de cette erreur
		</div>
    </body>
</html>
