<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Erreur {{ status_text }}</title>
    </head>
    <body>
        <h1>Erreur {{ status_code }} : {{ status_text }}</h1>
        <h2>La page demandée n'existe pas.</h2>
    </body>
</html>
